{% extends "_base.html" %}
{% block content %}
<h4>Enroll student</h4>
<form method="post" class="row g-2">
  <div class="col-md-5">
    <label class="form-label">Full name</label>
    <input name="name" class="form-control" required>
  </div>
  <div class="col-md-5">
    <label class="form-label">Card UID</label>
    <input name="uid" class="form-control" required placeholder="tap/scan or type">
  </div>
  <div class="col-md-2 d-grid">
    <label class="form-label">&nbsp;</label>
    <button class="btn btn-success">Enroll</button>
  </div>
</form>
{% endblock %}

